// color de click barra de nav
a.nav-link.dropdown-item:hover{
    background-color: #f8f1f1 !important;
}
.navbar-dark .navbar-toggler-icon {
    background-color:#0a236a ;
}
h1.h3.mb-3{
    color:#241d8b ;
    background-color: turquoise ;
    
}
body.fondoIndex{
    height: 100%;
    background: linear-gradient(130deg, #f7ffd5 0, #e4ffd9 10%, #d1ffdc 20%, #beffdc 30%, #adffda 40%, #9df2d5 50%, #90e1ce 60%, #87d2c8 70%, #81c5c2 80%, #7dbbbd 90%, #7bb3b9 100%);
}
//  div.rowGrad{
//     background-image: linear-gradient(270deg, #f7ffd5 0, #e4ffd9 10%, #d1ffdc 20%, #beffdc 30%, #adffda 40%, #9df2d5 50%, #90e1ce 60%, #87d2c8 70%, #81c5c2 80%, #7dbbbd 90%, #7bb3b9 100%) !important;
//  } mendoza todabia no lo decido tiene un grad
hr{
    border: 2px solid #16c79a;
    background-color:  #16c79a;
}
p{
    color: #11698e;
}
h3{
    color: #0a236a;
}
h2{
    color: #0a236a; 
}
h1{
    color: #0a236a;  
}
h5{
    color: #19456b;  
}
.iniciaR{
    color: #16c79a;
}
small{
  color:   #19456b;
}
.bg-dark{  
    background-image: linear-gradient(270deg, #f7ffd5 0, #e4ffd9 10%, #d1ffdc 20%, #beffdc 30%, #adffda 40%, #9df2d5 50%, #90e1ce 60%, #87d2c8 70%, #81c5c2 80%, #7dbbbd 90%, #7bb3b9 100%) !important;
}
 .card-title{
    color:#f8f1f1;
}
.card-text{
color:#3f3697;
} 
.btn-primary { 
    color:#3f3697;
    background-color: #f8f1f1;
    border:double 4px grey;
}
.btn-primary:hover{
    color:#f8f1f1;
    background-color: #3f3697;
    border-color: #3f3697;
}
.btn{
    color:#3f3697 !important;
 background-color: #f8f1f1 !important;
 border:double 4px grey !important;
}
.btn:hover{
    color:#f8f1f1 !important;
    background-color: #3f3697 !important;
    border-color: #3f3697 !important;
} 
.RioColor{  
    color:#153e90;
}
.BarColor{
    color:#16c79a;
} 
.color{
    color: #000000;
}
div.row.featurette{
   width: 100%;
     background: linear-gradient(130deg, #f7ffd5 0, #e4ffd9 10%, #d1ffdc 20%, #beffdc 30%, #adffda 40%, #9df2d5 50%, #90e1ce 60%, #87d2c8 70%, #81c5c2 80%, #7dbbbd 90%, #7bb3b9 100%);
 }
.bg-light{
   background: linear-gradient(130deg, #f7ffd5 0, #e4ffd9 10%, #d1ffdc 20%, #beffdc 30%, #adffda 40%, #9df2d5 50%, #90e1ce 60%, #87d2c8 70%, #81c5c2 80%, #7dbbbd 90%, #7bb3b9 100%)!important;
}
input{
    background-color:#3f3697 ;
}

// .flexCenter{
//      justify-content: center;
//   }
// .nav-item-align{
//      display: flex;
//      justify-content: center;
//      justify-content:right;
//  }
    h1.col-sm-12.QuienesSomos.aos-init.aos-animate{
        margin-top: 20px;
    }
  .navbar-dark .navbar-nav .nav-link:hover{
      color:#3f3697 ;
  }
  
  