
body{
    background: linear-gradient(130deg, #f7ffd5 0, #e4ffd9 10%, #d1ffdc 20%, #beffdc 30%, #adffda 40%, #9df2d5 50%, #90e1ce 60%, #87d2c8 70%, #81c5c2 80%, #7dbbbd 90%, #7bb3b9 100%);
}
// #grad{
//     background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
// }
hr{
    border: 2px solid #16c79a;
    background-color:  #16c79a;
}
p{
    text-align: justify;
    color: #11698e;
    font-family:"Lato-Light" ;
}
h3{
    color: #11698e;
    text-align: center;
    font-family: "AbrilFatface-Regular";
}
h2{
    color: #11698e;
    text-align: center;
    font-family:"Lato-Regular" ;
    
}
h1{
    color: #19456b;
    text-align: center;
    font-size:80px;  
    font-family: "AbrilFatface-Regular";
}
h5{
    color: #19456b;
    
}
.iniciaR{
    color: #16c79a;
    font-size: 40px;

}
small{
  color:   #19456b;
}
.bg-dark{
    background-color: #77ACF1 !important;
}
h1.col-sm-12.aos-init.aos-animate{
    position: relative !important;
    right: 130px;
}
.logo{
      position: relative;
      top:10px;
    display:block;
//     margin-left: auto;
//    margin-right: auto;
    border-radius: 30%;
    border: double 10px #3f3697;
}
 .card-title{
    color:#f8f1f1;
    font-size: 40px;
}
.card-text{

color:#3f3697;
    font-size: 25px;
} 
.btn-primary {
    
    color:#3f3697;
    background-color: #f8f1f1;
    border:double 4px grey;
}
.btn-primary:hover{
    color:#f8f1f1;
    background-color: #3f3697;
    border-color: #3f3697;
}

.btn{
    color:#3f3697 !important;
 background-color: #f8f1f1 !important;
 border:double 4px grey !important;
}
.btn:hover{
    color:#f8f1f1 !important;
    background-color: #3f3697 !important;
    border-color: #3f3697 !important;
} 
.RioColor{
    display: inline-block;
    border-radius: 30%;
    background-color:#f8f1f1 ;
    font-family: "AbrilFatface-Regular";
    color:#153e90;
    font-size: 60px;


}
.BarColor{
    background-color:#f8f1f1;
    color:#16c79a;
}
    
.color{
    background-color: #f8f1f1;
    border-radius: 20%;
    color: #000000;
    font-family:"AbrilFatface-Regular";

}
.moverR{
    position: relative;
    top: -110px;

}
.moverRT{
    position: relative;
    top: -60px;
}
main{
    background: linear-gradient(130deg, #f7ffd5 0, #e4ffd9 10%, #d1ffdc 20%, #beffdc 30%, #adffda 40%, #9df2d5 50%, #90e1ce 60%, #87d2c8 70%, #81c5c2 80%, #7dbbbd 90%, #7bb3b9 100%);

}
div.row{
    background: linear-gradient(130deg, #f7ffd5 0, #e4ffd9 10%, #d1ffdc 20%, #beffdc 30%, #adffda 40%, #9df2d5 50%, #90e1ce 60%, #87d2c8 70%, #81c5c2 80%, #7dbbbd 90%, #7bb3b9 100%);
}
.bg-light{
    background: linear-gradient(130deg, #f7ffd5 0, #e4ffd9 10%, #d1ffdc 20%, #beffdc 30%, #adffda 40%, #9df2d5 50%, #90e1ce 60%, #87d2c8 70%, #81c5c2 80%, #7dbbbd 90%, #7bb3b9 100%)!important;
}
input{
    background-color:#3f3697 ;
}
// registrate center
.flexCenter{
    justify-content: center;
}
.nav-item-align{
    display: flex;
    justify-content: center;
    justify-content:right;

}
#navbarDropdownMenuLink{
    border: double 4px #16c79a;
    background-color:#16c79a ;
}
.img-fluid-quienes{
     position:absolute;
    z-index:-1;
  }
  .img-fluid{
      border-radius: 30% !important;
  }
  ul.navbar-nav.mr-auto{
      align-items: center;
  }
  .navbar-dark .navbar-nav .nav-link:hover{
      color:#3f3697 ;
  }
  .lead{
      text-align: justify;
  }