@media screen and (min-width:0px) and (max-width: 768px) {
  
  h1.col-sm-12.Paraiso{
   margin: revert;
  }
  h1.col-sm-12.registrate{
    margin: revert;
  }
    }
    div.col-md-1{
      margin-top: inherit;
      padding-top: 20px;
    }
  h3.aos-init.aos-animate{
    font-size: 1.4rem;
  }
  h3.RioColor{
    font-size: xx-large;
  }
  p.color{
    font-size: larger;
  }
  img.logo.aos-ini.aos-animate{
    display: block;
    margin: auto;
  }
  div.form-group{
    width: 275px !important;
    padding-right:0px !important;
  }
  a.dropdown-item{
    font-size: inherit;
  }
  li.list-group-item{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

h1.col-sm-12.aos-init.aos-animate{
  font-size: xxx-large;
  width: 100%;
  position: relative;
  
  }
  ul.navbar-nav.mr-auto{
    align-items: flex-start !important;
  }
  @media screen and (min-width:769px) and (max-width: 1200px) {
    h1.col-sm-12.Paraiso{
      margin: revert;
      font-size: xxx-large;
     }
h3.RioColor{
  font-size: calc(1em + 1vw);
}
  }
  div.row.featurette.logo{
    padding-top: 50px;
  }
  ul.navbar-nav.mr-auto{
    align-items: flex-start !important;
  }