 @media screen and (min-width:300px) and (max-width: 768px) {
     body.fondoBariloche {
     background-image: url('/imagenes/Rio Negro/bariloche-trekking-1-scaled.jpg') !important;
     position:relative;
     z-index:99;
      background-repeat:no-repeat;
     background-attachment: fixed;
    background-size:cover;
 }
}