div.container-fluid.nav{
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
 }
 .lead{
    text-align: justify;
}
.img-fluid.index{
    border-radius: 30% !important;
}
#navbarDropdownMenuLink{
    padding-bottom: 0;
} 
ul.navbar-nav.mr-auto{
    align-items: center;
}
.moverR{
    position: relative;
     top: -110px;
 
  }
  div.row.featurette{
    margin:0;
    margin-top: 40px;
    margin-bottom: 40px;
}
.footer {
    height: 4rem;
  }
  .container-fluid .nav{
    text-align: center;
}
.AlineadoH3{
    text-align:initial;
}
a.dropdown-item.margin{
    width: 200px;
}
div.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
