
div.col-ms-6{
    position: relative;
     left: 76px;
}
div.row.featurette.CambioLugar{
    margin-top: 0px;
    margin-bottom: 0px;
}
div.row.featurette.logoQuienes{
    margin-top: 0px;
    margin-bottom: 0px;
}
h1.col-sm-12.QuienesSomos.aos-init.aos-animate{
    margin-top: 20px;
}
// quienes somos
.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
	
	}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	}
	h3.text-md-left.Nu{
		margin: 30px;
	}
	.ulQuienes{
		padding: 0;

	}