@font-face{
    font-family:"AbrilFatface-Regular";
    src:url(../assets/fonts/AbrilFatface-Regular.ttf);
}
@font-face{
    font-family:"Lato-Light";
    src:url(../assets/fonts/Lato-Light.ttf);
}
@font-face{
    font-family:"Lato-Regular" ;
    src: url(../assets/fonts/Lato-Regular.ttf);
}
a{
    font-size: 1.3rem;
}
p{
    margin-top: 20px;
    text-align: center;
    font-family:"Lato-Light" ;
}
h3{
    text-align: center;
    font-family: "AbrilFatface-Regular";
}
h2{
    text-align: center;
    font-family:"Lato-Regular" ;
}
h1{
    text-align: center;
    font-size:80px;  
    font-family: "AbrilFatface-Regular";
}
.iniciaR{
    font-size: 40px;
}
.card-title{
    font-size: 40px;
}
.card-text{
    font-size: 25px;
}
.RioColor{
    display: inline-block;
    font-family: "AbrilFatface-Regular";
    font-size: 60px;
}
.color{
    font-family:"AbrilFatface-Regular";
}