@font-face{
    font-family:"AbrilFatface-Regular";
    src:url(../assets/fonts/AbrilFatface-Regular.ttf);
}
@font-face{
    font-family:"Lato-Light";
    src:url(../assets/fonts/Lato-Light.ttf);
}
@font-face{
    font-family:"Lato-Regular" ;
    src: url(../assets/fonts/Lato-Regular.ttf);
}